* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.center {
    display: flex;
    flex-wrap: wrap;
    max-width: 1280px;
    margin-right: 0 auto;
    padding: 0 2%;
}

html, body {
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden ;
}

header {
    height: 200px;
    padding: 20px 0;
}

.logo {
    width: 50%;
}

.menu {
    padding-top: 30px;
    width: 50%;
    text-align: right;
}

.menu a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    margin-right: 15px;
}

section.sobre {
    height: calc(100% - 20px);
    position: relative;
}

.extras {
    position: absolute;
    bottom: -400px;
    right: -500px;
    width: 1000px;
    height: 1100px;
    background-color: #017143;
    border-radius: 50%;
}

.social-media {
    position: absolute;
    left: 0;
    top: 0;
}